@import url('https://fonts.googleapis.com/css?family=Oswald');

#surveyTitle {
    text-align: center;
    font-family: 'Patua One', cursive;
    color: #E5006B;
}

#surveyIntro {
    text-align: center;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
 
}

#userSurvey {
    padding: 30px;
}

.involved {
    background: rgba(255, 255, 255, .8);
    border-radius: 6px;
    width: 100%;
    height: 300px;
    padding: 20px;
}

iframe {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90vh;
}