.zipForm{
    margin-top: 150px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}


#zipSearch{
    text-align: center;
    font-size: 30px;
    text-shadow: -1px -1px 3px black;
}

#zipSearch:focus{
    background-color: darkgrey;
}


.spinner{
    text-align: center;
}
