body{
  background-image: url('samuel-branch-442129-unsplash.jpg');
  width: 100%;
  height: auto;
  padding-bottom: 64%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  background-image: fixed;

}

.responsive {
  width: 100%;
  height: auto;
}

.spinner{
  text-align: center !important;
}

#greeting{
  margin-top:80px;
}

#second {
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: -1px 1px 3px #FFB106;
  font-family: 'Patua One', cursive;
}

.formControl {
  border-top: 0px;
}

.fa-spinner {
  color: white;
  font-size: 24px;
}

.spinnerFont {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 24px;
  color: white; 
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 3px solid #FED11E;
  color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 25px;
  margin-top: 4%;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.btnSearch {
    background:white;
    color: #01C9EA;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-family: 'Pragati Narrow', sans-serif;
    margin-bottom: 5%;
  }

.btnSearch:hover{
  background:#fff;
  color:#01C9EA;
}

 .btnSearch:before,.btnSearch:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #01C9EA;
    transition:400ms ease all;
  }
  .btnSearch:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btnSearch:hover:before,.btnSearch:hover:after{
    width:100%;
    transition:800ms ease all;
  }
