@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen');

body{
  background-image: url('../MainPage/background-3.jpg');
  width: 100%;
  height: auto;
  padding-bottom: 64%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  background-image: fixed;

}

#greeting{
  margin-top:80px;
}

#first{
  color: aliceblue;
  text-align: center;
  font-size: 80px;

}

#second {
  color: aliceblue;
  text-align: center;
  font-size: 40px;
}

.formControl {
  border-top: 0px;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  color: aliceblue;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 22px;
  margin-top: 4%;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

