
body{
  background-image: url('samuel-branch-442129-unsplash.jpg');
  width: 100%;
  height: auto;
  padding-bottom: 64%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  background-image: fixed;

}

.responsive {
  width: 100%;
  height: auto;
}

.spinner{
  text-align: center !important;
}

#greeting{
  margin-top:80px;
}

#second {
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: -1px 1px 3px #FFB106;
  font-family: 'Patua One', cursive;
}

.formControl {
  border-top: 0px;
}

.fa-spinner {
  color: white;
  font-size: 24px;
}

.spinnerFont {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 24px;
  color: white; 
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 3px solid #FED11E;
  color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 25px;
  margin-top: 4%;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.btnSearch {
  justify-content: center;
  width: 30%;
  padding: 10px;
  font-size: 24px;
  color: #4babef;
  border-radius: 8px;
  margin-top: 2%;
}

.footer {
  background-color: rgb(255,255,255, .7);
  width: 100%;
  left: 0;
  right: 0;
  padding: 10px;
}


