@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen');


#collapsingNavbar{
    position: relative;
    margin-top: 14vh;
    background: #E5006B;
}

.collapsed {
  background: #E5006B;

}

.navBrand{
    font-family: 'Patua One', cursive;
    font-size: 50px;
    color: white;
    text-shadow: -1px 1px 3px #FFB106;
    
}

.nav-item {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
    color: white;
    text-align: right;
    padding: 5px; 
}

.navbar-brand{
  
    font-weight: bold;
    font-size: 3rem;
    color: white !important;
    font-family: 'Patua One', cursive;
    text-shadow: -1px 1px 3px #FFB106;
}

.navbar-brand:hover{
    text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
    color: aliceblue !important;
}

.nav-link {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
    color: white;
    text-align: right;
}

.mr-auto {
    color: white;
}

.navbar-toggler{
    position: absolute;
    top: 25%;
    margin-top: 10px;
    right: 0%;
    font-size: 3rem;
    color:white;
    text-shadow: 3px 3px 8px black !important;
    border: none;
    background: transparent !important;
}

.logout{
    position: relative;
    font-size: 1.5vw;
    left: 1.7vw;
    top: -10px;
}
.profile{
    padding-right: 15px !important;
}

.namePlate{
    position: relative;
    left: 1.5vw;
}

.profilePic{
    position: relative;
    width: 7vw;
    left: 1.5vw;
}

.navbar-toggler {
    border: none;
    background: #E5006B;
  }

 .navbar-toggler:focus {
    outline: none;
    background: #E5006B;
  }
  
  .navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
   
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1px;
  }
  
  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
   
  }

  
  .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
   
  }
  
  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 30px;
    transition: ease all .2s;
   
  }
  
  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 30px;
    transition: ease all .2s;
   
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 4px);
    transition: ease all .2s;
   
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
   
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -4px);
    transition: ease all .2s;
   
  }
