.districtBallot {
    background-color: rgb(255,255,255, .7);
    border-radius: 25px;
}

.ballotMain {
    margin-top: 3%;
}

.ballotPageImg {
    max-width: 400px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.btn-display {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ballotHeader {
    text-align: center;
}

.ballotWelcome {
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}

.disclaimer {
    font-size: 12px;
}

.card {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.resultsList {
    padding-left: 60px;
}

.initiaveRow {
    margin-top: 5%;
}

.ballotCard {
    padding-right: 100px;
    padding-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 18px 40px 0 rgba(0,0,0,0.2);
}

.candidateResults, .initiativeResults {
    margin: 10px;
}

.searchAgain {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .ballotCard {
        padding-right: 10px;
        padding-left: 10px;
    }

    .card {
        padding: 5px;
    }
}
