@import url('https://fonts.googleapis.com/css?family=Oswald');

input[type="text"],
.form-control {
  background: transparent;
  border: none;
  border-bottom: 3px solid #FED11E;
  color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 25px;
  margin-top: 4%;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
}

label {
    color: white;
}

.btnUpdate {
  justify-content: center;
  width: 15%;
  padding: 10px;
  font-size: 24px;
  color: #4babef;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 5%;
}