@import url('https://fonts.googleapis.com/css?family=Oswald');

.userContainer {
    background-color: rgb(255,255,255, .7);
    border-radius: 25px;
}

.userRow {
    margin-top: 5%;
    text-align: center;
}

.userName {
    font-family: 'Patua One', cursive;
    font-size: 44px;
    margin-top: 2%;
}

.subFont {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 28px
}

.btn-info {
    background-color: #F308CF;
    border: none;
    width: 100px;
}

.card {
    width: 100% !important;
    margin-top: 2%;
}

.userName {
    text-align: center;
}

.userImage {
    height: 6vw;
    width: 6vw;
}

.districts{
    position: relative;
    margin-top: 5vh;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.close{
    width:3vw;
    font-size: 3rem;
}