@import url('https://fonts.googleapis.com/css?family=Oswald');

.card {
    width: 100% !important;
    margin-top: 2%;
}

.userName {
    text-align: center;
}
.userImage {
height: 10vw;
width: 10vw;
margin-left: 37vw;
}

.districts{
    position: relative;
    margin-top: 5vh;
    width: 80%;
    margin-left: 10%;
}
